<% if current_user %>
  <h3>Welcome: <%= current_user.email %></h3>
<% else %>
	<div>
	  <div class="jumbotron">
	  	<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	    <h2>Welcome to the Photo Management App!</h2>
	    <p class="lead">
	      You'll love managing your Photos with our application. Sign up!
	    </p>
	  </div>

		<div class="container">
		  <div class="card-deck mb-3 text-center">
		    <div class="card mb-4 shadow-sm">
		      <div class="card-header">
		        <h4 class="my-0 font-weight-normal">Free</h4>
		      </div>
		      <div class="card-body">
		        <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
		        <ul class="list-unstyled mt-3 mb-4">
		          <li>10 users included</li>
		          <li>2 GB of storage</li>
		          <li>Email support</li>
		          <li>Help center access</li>
		        </ul>
		        <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-lg btn-block btn-primary sign-up' %>
		      </div>
		    </div>
		    <div class="card mb-4 shadow-sm">
		      <div class="card-header">
		        <h4 class="my-0 font-weight-normal">Pro</h4>
		      </div>
		      <div class="card-body">
		        <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
		        <ul class="list-unstyled mt-3 mb-4">
		          <li>20 users included</li>
		          <li>10 GB of storage</li>
		          <li>Priority email support</li>
		          <li>Help center access</li>
		        </ul>
		        <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-lg btn-block btn-primary sign-up' %>
		      </div>
		    </div>
		    <div class="card mb-4 shadow-sm">
		      <div class="card-header">
		        <h4 class="my-0 font-weight-normal">Enterprise</h4>
		      </div>
		      <div class="card-body">
		        <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
		        <ul class="list-unstyled mt-3 mb-4">
		          <li>30 users included</li>
		          <li>15 GB of storage</li>
		          <li>Phone and email support</li>
		          <li>Help center access</li>
		        </ul>
		        <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
<% end %>